

PORT=5001
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/portfolio
JWT_SECRET=dev_jwt_secret_key_12345
 EMAIL_USER=contact.geetikavasistha@gmail.com
 EMAIL_PASS=iroe ghwf ujnx kknj


LASTFM_API_KEY=d4f393c63a4c1b65fe9119d298cb719a
LASTFM_USERNAME=augustine_123


GITHUB_TOKEN=your_github_token_here
GITHUB_USERNAME=geetikavasistha-01

# AMA/Contact Notification Fan-out
DISCORD_WEBHOOK_URL=your_discord_webhook_url_here
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHAT_ID=your_telegram_chat_id_here